<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products Page</title>
</head>
<body>

    <h1>Products Page</h1>

    <div th:each="product : ${products}">
        <span th:text="${'ID: ' + product.id + ' Title: ' + product.title + ' Cost ' + product.cost + '$'}"></span>
        <br>
        <a th:href="@{'/products/' + ${product.id}}">INFO</a>
        <br>
    </div>
    <span th:text="${'Products count: ' + products.size()}"></span>
    <br>
    <a th:href="@{'/products/add'}">Добавить новый продукт</a>

</body>
</html>